:root {
    --card: #FFF;
    --background: #F9F9F9;

    --red: #E52E4D;
    --gray: #585666;
    --green: #33CC95;
    --orange: #FF941A;
    
    --text-body: #969CB2;   
    --text-title: #585666;
    
    --gradient: radial-gradient(circle, rgba(250,163,65,1) 0%, rgba(255,148,26,1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media(max-width: 1080px) {
        // 15px
        font-size: 93.75%;
    }
    @media(max-width: 720px) {
        // 14px
        font-size: 87.5%;
    }
    @media(max-width: 565px) {
        // 12px
        font-size: 75%;
    }
}

body {
    background: var(--background);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font: 400 16px 'Inter', sans-serif;
}

h1, h2, h3, h4, strong {
    font: 500 16px 'Lexend', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}