.SummaryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    margin-top: -9rem;

    overflow-x: scroll;

    div {
        padding: 1.5rem 2rem;

        background: var(--card);
        color: var(--text-title);

        border-radius: 0.25rem;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        strong {
            display: block;
            margin-top: 1rem;

            font-size: 2rem;
            font-weight: 400;
            line-height: 3rem;
        }

        &:last-child {
            background: var(--gray);
            color: var(--card);
        }
    }
}