.TableContainer {
    margin: 4rem auto;

    @media(max-width: 768px) {
        display: none;
    }

    table {
        width: 100%;
        border-spacing: 0 0.5rem;

        svg {
            transform: translateY(2px);
            margin-right: 5px;
        }

        th {
            padding: 1rem 2rem;

            font-weight: 400;
            text-align: left;
            line-height: 1.5rem;
            color: var(--text-body);

            &:nth-child(3) {
                min-width: 160px;
            }
        }

        td {
            padding: 1rem 2rem;

            border: 0;
            border-radius: 0.25rem;

            background: var(--card);
            color: var(--text-body);

            &:first-child {
                color: var(--text-title);
                width: 50%;
            }
            
            &.deposit {
                color: var(--green);
            }

            &.withdraw {
                color: var(--red);
            }
        }
    }
}

.MobileListContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin: 4rem auto;

    @media(min-width: 769px) {
        display: none;
    }

    h2 {
        padding-bottom: 1rem;

        font-size: 1.5rem;
        color: var(--text-title);
    }

    div {
        padding: 1.5rem 2rem;

        background: var(--card);
        color: var(--text-title);

        border-radius: 0.25rem;

        main {
            p {
                font-size: 1.2rem;
                color: var(--text-title);
            }

            span {
                display: block;
                padding: 0.5rem 0 1.2rem;

                font-size: 1.5rem;

                &.deposit {
                    color: var(--green);
                }
    
                &.withdraw {
                    color: var(--red);
                }
            }
        }

        footer {
            display: flex;
            justify-content: space-between;

            color: var(--text-body);

            span {
                font-size: 1.2rem;

                svg {
                    margin-bottom: -2px;
                }
            }
        }
    }
}

.NoTransactions {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50vh;

    h1 {
        font-size: 2rem;
        color: var(--text-body);
    }
}